/* Error: Undefined variable.
 *    ,
 * 37 |     background-color: $home-bgcolor;
 *    |                       ^^^^^^^^^^^^^
 *    '
 *   assets/scss/home.scss 37:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 37 \2502      background-color: $home-bgcolor;\a    \2502                        ^^^^^^^^^^^^^\a    \2575 \a   assets/scss/home.scss 37:23  root stylesheet";
}
